@charset "UTF-8";

// CSS Reset
@import "/source/css/imports/reset.less";

// Core variables and mixins
@import "/source/css/imports/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "/source/css/imports/mixins.less";

// Grid system and page structure
@import "/source/css/imports/scaffolding.less";
@import "/source/css/imports/grid.less";
@import "/source/css/imports/layouts.less";

// Base CSS
@import "/source/css/imports/type.less";
@import "/source/css/imports/code.less";
@import "/source/css/imports/forms.less";
@import "/source/css/imports/tables.less";

// Components: common
@import "/source/css/imports/sprites.less";
@import "/source/css/imports/dropdowns.less";
@import "/source/css/imports/wells.less";
@import "/source/css/imports/component-animations.less";
@import "/source/css/imports/close.less";

// Components: Buttons & Alerts
@import "/source/css/imports/buttons.less";
@import "/source/css/imports/button-groups.less";
@import "/source/css/imports/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "/source/css/imports/navs.less";
@import "/source/css/imports/navbar.less";
@import "/source/css/imports/breadcrumbs.less";
@import "/source/css/imports/pagination.less";
@import "/source/css/imports/pager.less";

// Components: Popovers
@import "/source/css/imports/modals.less";
@import "/source/css/imports/tooltip.less";
@import "/source/css/imports/popovers.less";

// Components: Misc
@import "/source/css/imports/thumbnails.less";
@import "/source/css/imports/labels-badges.less";
@import "/source/css/imports/progress-bars.less";
@import "/source/css/imports/accordion.less";
@import "/source/css/imports/carousel.less";
@import "/source/css/imports/hero-unit.less";

// Utility classes
@import "/source/css/imports/utilities.less"; // Has to be last to override when necessary


@media only screen and (max-width: 480px){

}

@media only screen and (max-width: 600px){

}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 992px){

}

@media only screen and (max-width: 1382px){

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5){

}

@media print{
*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important}a,a:visited{color:#444 !important;text-decoration:underline}a[href]:after{content:"("attr(href) ")"}abbr[title]:after{content:"("attr(title) ")"}a[href^="javascript:"]:after,a[href^="#"]:after{content:""} pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}
}
